doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Reset Password
  body
    h2 Halo, #{displayName}!
    p Seseorang (semoga kamu) telah meminta untuk mereset password akun kamu.
    p Klik link di bawah ini untuk melanjutkan:
    p
      a(href=resetUrl, target="_blank") Reset Password Saya
    p Link ini hanya berlaku selama 15 menit.
    p
      small Jika kamu tidak meminta ini, abaikan email ini.